<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create new Post</title>
</head>

<body>
    <form method="post"  action="/posts"  >
        <input type="text" placeholder="enter username" name="username">
        <br>
        <br>
        <textarea name="content" placeholder="write your post" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="url" name="img" id="">
        <button>Submit</button>

    </form>

</body>

</html>